<h1 i18n="User welcome|An introduction header for this sample@@introductionHeader">
  Hello i18n!
</h1>

<span i18n>I don't output any element</span>

<br />

<img [src]="logo" i18n-title title="Angular logo" />
<br>
<button (click)="inc(1)">+</button> <button (click)="inc(-1)">-</button>
<span i18n>Updated {minutes, plural, =0 {just now} =1 {one minute ago} other {{{minutes}} minutes ago}}</span>
({{minutes}})
<br><br>
<button (click)="male()">&#9794;</button> <button (click)="female()">&#9792;</button> <button (click)="other()">&#9895;</button>
<span i18n>The author is {gender, select, male {male} female {female} other {other}}</span>
<br><br>
<span i18n>Updated: {minutes, plural,
  =0 {just now}
  =1 {one minute ago}
  other {{{minutes}} minutes ago by {gender, select, male {male} female {female} other {other}}}}
</span>
<br>
<br>
Select your language : 
<span *ngIf="currentUrl.search('en')!=-1"> English&nbsp;</span>
<span *ngIf="currentUrl.search('ta')!=-1"> Tamil&nbsp;</span>
<span *ngIf="currentUrl.search('hi')!=-1"> Hindhi&nbsp;</span>
<span *ngIf="currentUrl.search('fr')!=-1"> French&nbsp;</span>

<span *ngIf="currentUrl.search('en')==-1"> <a href="/BEx9-i18n/en">English</a>&nbsp;&nbsp;</span>
<span *ngIf="currentUrl.search('ta')==-1"><a href="/BEx9-i18n/ta">Tamil</a>&nbsp;</span>
<span *ngIf="currentUrl.search('hi')==-1"><a href="/BEx9-i18n/hi">Hindhi</a>&nbsp;</span>
<span *ngIf="currentUrl.search('fr')==-1"><a href="/BEx9-i18n/fr">French</a>&nbsp;</span>
<hr>
<h4> ngx-translate based Demo</h4>
<h1>
  {{ 'helloMessage' | translate }} i18n!
</h1>
<p>{{ 'welcomeMessage' | translate:user }}</p>
<input type="password" placeholder="{{ 'login.password' | translate }}">