/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts";

@import "~font-awesome/scss/font-awesome";

//Basic Mixin
@mixin themable($theme-name, $container-bg, $left-bg, $right-bg, $innertext, $button-bg) {
    .#{$theme-name} {
        .container {
            background-color: $container-bg;
            border: 1px solid #000;
            display: flex;
            height: 500px;
            justify-content: space-between;
            margin: 0 auto;
            padding: 1em;
            width: 50%;
 
            * {
                color: $innertext;
                font-size: 2rem;
            }
 
            .left {
                background-color: $left-bg;
                height: 100%;
                width: 69%;
            }
 
            .right {
                background-color: $right-bg;
                height: 100%;
                position: relative;
                width: 29%;
            }
 
            .button {
                background-color: $button-bg;
                border: 0;
                border-radius: 10px;
                bottom: 10px;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bold;
                padding: 1em 2em;
                position: absolute;
                right: 10px;
            }
        }
    }
 }
//Using the mixins defined above
//theme1.scss
@include themable(theme-1, #f7eb80, #497265, #82aa91, #fff, #bc6a49);
//theme2.scss 
@include themable(theme-2, #e4ada7, #d88880, #cc6359, #fff, #481b16);

$theme-1: (
   container: (
       bg: #e4ada7,
       color: #000,
       border-color: #000
   ),
   left: (
       bg: #d88880,
       color: #fff,
       height: 100%,
       width: 69%
   ),
   right: (
       bg: #cc6359,
       color: #fff,
       height: 100%,
       width: 29%
   ),
   button: (
       bg: #481b16,
       color: #fff
   )
);

$theme-2: (
   container: (
       bg: #e4ada7,
       color: #000,
       border-color: #000
   ),
   left: (
       bg: lavender,
       color: blue,
       height: 100%,
       width: 69%
   ),
   right: (
       bg: #cc6359,
       color: #fff,
       height: 100%,
       width: 29%
   ),
   button: (
       bg: green,
       color:black
   )
);

@mixin themable2($theme-name, $theme-map) {
    .#{$theme-name} {
        .container {
            .left, .right {
                font-size: 2rem;
            }
        }
 
        .container .right {
            position: relative
        }
 
        .button {
            border: 0;
            border-radius: 10px;
            bottom: 10px;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            padding: 1em 2em;
            position: absolute;
            right: 10px;
        }
 
        // Loop through each of the keys (sections)
        @each $section, $map in $theme-map {
            @if ($section == container) {
                .container {
                    background-color: map-get($map, bg);
                    border: 1px solid map-get($map, border-color);
                    display: flex;
                    height: 500px;
                    justify-content: space-between;
                    margin: 0 auto;
                    padding: 1em;
                    width: 50%;
                }
            } @else {
                .#{$section} {
                    background-color: map-get($map, bg);
                    color: map-get($map, color);
 
                    @if ($section != button) {
                        height: map-get($map, height);
                        width: map-get($map, width);
                    }
                }
            }
        }
    }
 }
 
 @include themable2(theme-3, $theme-1);
 @include themable2(theme-4, $theme-2);